<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>RareTECH学習サポートアプリ(仮)</title>
</head>
<body>
    <header>
        <!-- アプリ上部のヘッダーを表示 -->
        <!-- いずれもaタグにしてリンクにする予定？ -->
        <!--　左上にアプリ名 -->
        <h3>RareTECH学習サポートアプリ(仮)</h3>
        <!-- 右上にナビゲーション-->
        <nav>
            <a href="{{ url_for('home') }}">ホーム</a>
            <a href="{{ url_for('profile') }}">プロフィール</a>
            <a href="{{ url_for('logout') }}">ログアウト</a>
        </nav>
    </header>
    <main>
        <!-- ランキングを表示 -->
        <div class="ranking-card">
        <!-- for文を回す回数を指定 -->
        {% for ranking in range(1 , 4) %}
        <div class="ranking-{{ loop.index }}">
                <div class="rank">{{ loop.index }}位</div>
                <div class="ranking-1-name">
                    <a href="{{ url_for('profile') }}" class="profile-link">
                        <!-- アイコン画像表示 -->
                        {% set target_user = post.author %}
                        {% set size = "small" %}
                        {% include "icon.html" %}
                    </a>
                    {{ post.author.username }}
                </div>
                <div class="ranking-1-study-time">
                    学習時間:(学習時間の合計の関数)
                </div>
            </div>
        {% endfor %}
        </div>
        
        <!-- 投稿一覧を表示 -->
        {% if posts and posts | length > 0 %}
        <div class="post-list">
            {% for post in posts %}
            <a href="{{ url_for('post_detail', post_id=post.id) }}" class="post-card-link">  <!-- おーちゃんline26〜変更2/15-->
            <div class="post-card">
                <!-- アイコン画像表示 -->
                 {% set target_user = post.author %}
                 {% set size = "small" %}
                 {% include "icon.html" %}
                <div class="post-content">
                    <div class="post-header">
                        <div class="post-user">
                            {{ post.author.username }}
                        </div>
                        <div class="post-time">
                            {{ post.created_at_jst.strftime('%Y-%m-%d %H:%M') if post.created_at_jst else '日時不明' }}<!-- おーちゃん日本時間になるように変更2/11-->
                        </div>
                        <div class="study-time">
                            学習時間: {{ post.formatted_learning_time }}<!-- おーちゃん変更2/11-->
                        </div>
                    </div>
                    <div class="post-body">
                            {{ post.content }}
                    </div>
                </div>
            </div>
            </a> <!-- おーちゃん投稿カード全体を囲むためここに閉じタグ2/15-->
            {% endfor %}
        </div>
        {% else %}
        <div class="empty">
            <p>投稿がありません。</p>
        </div>
        {% endif %}
        <!-- <form action="{{ url_for('posts') }}" method="GET">
            <button class="post-button" type="submit">投稿を作成</button>  
        </form>-->
        <a href="{{ url_for('posts') }}" class="post-button">投稿を作成</a> <!--posts_pageをpostsに変更byおーちゃん2/11-->
    </main>
    
</body>
</html>
