<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <link rel="stylesheet" href="../static/css/posts.css"> <!--Flask連携前確認用の為、この行確認後削除-->
    <title>RareTECH学習サポートアプリ(仮)</title>
</head>
<body>
    <header>
        <!-- アプリ上部のヘッダーを表示 -->
        <!--　左上にアプリ名 -->
        <h3>RareTECH学習サポートアプリ(仮)</h3>
        <!-- 右上にナビゲーション-->
        <nav>
             <a href="{{ url_for('home') }}">ホーム</a>
            <a href="{{ url_for('profile') }}">プロフィール</a>
            <a href="{{ url_for('logout') }}">ログアウト</a>
        </nav>
    </header>
    <main>
        <!-- 投稿欄の作成　-->
        <form class="post">
            <textarea id="input_post" name="post_body"  placeholder="今日の学習内容を記入してください" style="overflow-y: scroll;"></textarea>
            <div id="input_post_button">
                <input type="submit" value="送信">
            </div>
        </form>
    </main>
    
</body>
</html>
