<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="../static/css/profile.css"> <!--Flask連携前確認用の為、この行確認後削除-->
    <title>profile-RareTECH学習サポートアプリ(仮)</title>
</head>
<body>
    <header>
        <!-- アプリ上部のヘッダーを表示 -->
        <!-- いずれもaタグにしてリンクにする予定？ -->
        <!--　左上にアプリ名 -->
        <h3>RareTECH学習サポートアプリ(仮)</h3>
        <!-- 右上にナビゲーション-->
        <nav>
            <a>ホーム</a>
            <a>プロフィール</a>
            <a>ログアウト</a>
        </nav>
    </header>
    <main>
        <img class="profile-img" src="../static/css/icon/profile_icon.png" alt="写真設定なし" title="プロフィール初期画像" width="206px" height="206px">

        <div class="profile-user">
            {{ post.user_name }}
        </div>
        
        <div class="profile-body">
            <!--{{ post.profile_content }}-->
            <textarea name="profile_content" placeholder="自己紹介を自由に書きましょう！" style="overflow-y: scroll;"></textarea>
        </div>
    </main>
    
</body>
</html>