/*z-indexを「header」「.post-detail-link」「.profile-link」「.post-button」「.ranking-card」に使用しています。*/

/* body全体を内容の量に関係なく、PCやスマホの画面いっぱいの高さにする。*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 36px;
    margin-top: 0px;
}
/* 画面内のヘッダーの設定、横並びにして、背景は青、文字は白色、配置は両端に、10px余白 */
header{
    display: flex;
    background-color: rgb(23, 117, 194);
    color: white;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 30;
}
/* ナビゲーションの設定。横並びにして、オブジェクト間で30pxの間隔をあける。 */
nav{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-card{
    display: flex;
    background-color: #add8e6;
    width: 680px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0px 20px;
    position: sticky;
    top: 100px;
    z-index: 30;
}
/* 順位はまとめてCSS適用 */
.rank{
    font-size: 20px;
}

/* 順位別に装飾できるよう個別にクラス設定中 */
.ranking-1{
    text-align: center;
}

.ranking-1-name{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ranking-2{
    text-align: center;
}

.ranking-2-name{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ranking-3{
    text-align: center;
}

.ranking-3-name{
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-card{
    display: flex;
    width: 680px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
    margin-bottom: 10px;
    position: relative;
}

/* 投稿詳細へ遷移できるように透明なリンクをpost-cardクラスの上に作成*/
.post-detail-link{
    width: 680px;
    padding: 10px;
    border-radius: 20px;
    height: calc(100% - 20px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.post-detail-link:hover{
    background-color: rgba(255,255,255,0.3);
}
/* アイコンからプロフィールへ遷移できるようにリンクを作成 */
.profile-link{
    width: 60px;
    height: 60px;
    z-index: 20;
}

.profile-img{
    width: 60px;
    height: 60px;
}

.profile-link:hover{
    background-color: rgba(255,255,255,0.3);
}

.post-content{
    width: 100%;
}

.post-header{
    display: flex;
    gap: 60px;
}

.post-body{
    background-color: white;
    margin: 5px;
    padding: 0px 5px 0px;
}

.post-button{
    background-color: #0085EE;
    color: #ffff;
    font-size: 24px;
    width: 680px;
    text-align: center;
    border-radius: 20px;
    position:sticky;
    bottom: 60px;
    padding: 10px;
    text-decoration: none;
    margin-top: 60px;
    z-index: 30;
}

.post-button:hover{
    opacity: 0.8;
}