
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    background-color: rgb(23, 117, 194);
    color: white;
    justify-content: space-between;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.post{
    display: flex;
}

#input_post{
    height: 100px;
}

#input_post_button{
    align-self: flex-end;
}

