/* body全体を内容の量に関係なく、PCやスマホの画面いっぱいの高さにする。*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 0px;
}
/* 画面内のヘッダーの設定、横並びにして、背景は青、文字は白色、配置は両端に、10px余白 */
header{
    display: flex;
    background-color: rgb(23, 117, 194);
    color: white;
    justify-content: space-between;
    padding: 10px;;
}
/* ナビゲーションの設定。横並びにして、オブジェクト間で30pxの間隔をあける。 */
nav{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.post-card{
    display: flex;
    width: 680px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
}

.profile-img{
    width: 60px;
    height: 60px;
}

.post-content{
    width: 100%;
}

.post-header{
    display: flex;
    gap: 60px;
}

.post-body{
    background-color: white;
    margin: 5px;
}

.post-action{
    text-align: end;
}

.comment-card {
    display: flex;
    width: 680px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
}

.comment-content{
    width: 100%;
}

.comment-header{
    display: flex;
    gap: 60px;
}

.comment-body{
    background-color: white;
    margin: 5px;
}

.new-comment{
    position:fixed;
    bottom: 24px;
    width: 680px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
}

textarea{
    resize: none;
    width: 98%;
    height: 70px;
    font-size: 16px;
}

.new-comment-footer{
    text-align: end;
}

.comment-btn{
    background-color: #0085EE;
    color: #ffff;
    border: none;
}

.comment-btn:hover{
    opacity: 0.7;
}