/* body全体を内容の量に関係なく、PCやスマホの画面いっぱいの高さにする。*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 36px;
    margin-top: 0px;
}
/* 画面内のヘッダーの設定、横並びにして、背景は青、文字は白色、配置は両端に、10px余白 */
header{
    display: flex;
    background-color: rgb(23, 117, 194);
    color: white;
    justify-content: space-between;
    padding: 10px;;
}
/* ナビゲーションの設定。横並びにして、オブジェクト間で30pxの間隔をあける。 */
nav{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}
/* 全体を中央に */
.profile-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


/* 引用元のicon.html内にある、profile-img.largeクラスに対して機能させている */
.profile-img.large {
    width: 206px;
    height: 206px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


